extend layouts

block appContent 

 h1= message 
 h3 New to Buy
 #container.col
  p But the latest Movies now 
  h3 About 
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Porro asperiores sint voluptatem. Reprehenderit fuga quisquam error autem laborum.
