doctype html
head
 title= title
body 
.topnav
 a(href='/') Home 
 a(href='/movies') Movies

 block appContent

footer
 h4 
  p Posted by: Movie Rentals 
 p 
    | Contact Information:
    a(href="mailto:movierentals@example.com")
    | someone@example.com
    |
